<h1> Welcome to <%= @crm_app_name %> <h1/> <!--using alligator tags w/ instance variable -->
	<p> Main menu </p>
	<ul>
		<li><a href="/contacts">View all contacts</a></li>

		<li><a href="/contacts/new">Add a contact</a><li>
		
		<li><a href="/contacts/:id">View a contact</a><li>
		
		<li><a href="/contacts/:id/edit">Modify an existing contact</a><li>	

	</ul>