<h1><strong>Welcome to <%= @crm_app_name %></strong></h1>

<h3> Main menu </h3>
<div id="options">
<ul>
	<li><a href="/contacts/new">1) Add a contact</a></li>
	<li><a href="/contacts/delete">2) Delete a contact</a></li>
	<li><a href="/contacts/:id/edit">3) Modify an existing contact</a></li>	
	<li><a href="/contacts">4) View all contacts</a></li>
</ul>
</div>
