<h1> Welcome to this CRM! </>
	<p> Main menu </p>
	<ul>
		<li><a href="/contacts">View all contacts</a></li>

		<li><a href="/contacts">Add a contact</a><li>
		
		<li><a href="/contacts">Delete all contacts</a><li>
		
		<li><a href="/contacts">Add a contact email</a><li>	
			
	</ul>