<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/page_1.css">
	<title> Kerry's CRM </title>
</head>
<body>
	
	<%= yield %> <!--yield allows us to insert all code blocks of other files into layout.erb-->

</body>
</html>