<h1><%= @contact.first_name %> <%= @contact.last_name %> </h1>
<p><strong> Email: </strong></p> <%= @contact.email %></p>
<p><strong> Role: </strong></p>
<p><%= @contact.role %></p>

<a href="/">Back to home</a>

